.main {
  width: 40%;
  background-color: #222222;
  color: #E1E1E1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.head {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
}
.altHead {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.active {
  background-color: #313131;
}