.common {
  background-color: #222222;
  margin: 5px auto;
  padding: 7px;
  color: #E1E1E1;
  position: relative;
  font-size: 20px;

  &:hover {
    background-color: #515151;
  }
  display:flex;
  justify-content: space-around;
}
.active {
  background-color: #81B34A;
  margin: 5px auto;
  padding: 7px;
  color: #E1E1E1;
  font-weight: bold;
  &:hover {
    background-color: #81B34A;
  }
  display:flex;
  justify-content: space-around;
  font-size: 20px;
}
a {
  text-decoration: none;
}
.text {
  width: 50px;
  position: relative;
  left: -25px;
}