.main {
  background-color: #313131;
  border-radius: 0 0 10px 10px;
}
.inputWrapper {
  border-bottom: solid 2px #222222;
  display: flex;
  justify-content: space-between;
  img {
    margin-left: 15px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.content {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: solid 2px #222222;
}
.input {
  width: 95%;
  outline: none;
  background-color: #313131;
  border: none;
  color: #E1E1E1;
  font-size: 16px;
  padding: 6px;
  &::placeholder {
    color: #E1E1E1;
  }
}
.active {
  border-bottom: #749654 solid 2px;
}