.canMove {
  background-color: darkgray;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  opacity: 80%;
}

.underAttack {
  background-color: darkred;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  opacity: 80%;
}