.canMove {
  background-color: darkgray;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 50%;
  opacity: 80%;
}
.underAttack {
  position: absolute;
  background-color: darkred;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 50%;
  opacity: 80%;
}
.black {
  background-color: #749654;
}
.white {
  background-color: #eceed4;
}
.img {
  padding: 10px;
  pointer-events: none;
}
.draggable {
  cursor: grab;
}
.grabbing {
  cursor: grabbing;
}
.isOver {
  border: solid 4px #81B34A;
}