.container {
  font-size: 20px;
  display: flex;
  border-bottom: solid 2px #E1E1E1;
  justify-content: space-between;
  margin: 5px 0;
  padding: 1px;
  background-color: #749654;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  &:hover {
    background-color: #81B34A;
  }
}
.flex {
  display: flex;
  align-items: center;
}
.info {
  margin-right: 5px;
}
.flexWrap {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 14px;
}
.chart {
  width: 100%;
}