.active {
  background-color: red;
  border-radius: 6px;
  position: absolute;
  color: white;
  padding: 5px 10px;
  border: solid white;
  opacity: 0.6;
  top: 0;


  left:50%;
  transform:translate(-50%);

  animation-name: show;
  animation-duration: 300ms;
  animation-iteration-count: 1;

  @keyframes show {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
}
.disable {
  background-color: red;
  border-radius: 6px;
  position: absolute;
  color: white;
  padding: 5px 10px;
  border: solid white;
  opacity: 0.6;
  left:50%;
  transform:translate(-50%);
  top: -100%;

  animation-name: hide;
  animation-duration: 600ms;
  animation-iteration-count: 1;

  @keyframes hide {
    from {
      top: 0;
    }
    to {
      top: -100%;
    }
  }
}
.hidden {
  display: none;
}