
.common {
  background-color: #222222;
  border-radius: 10px;
  margin: 5px auto;
  padding: 7px;
  color: #E1E1E1;
  position: relative;

  &:hover {
    background-color: #515151;
  }
  display:flex;
  justify-content: space-around;

  width: 70%;
}
.active {
  background-color: #81B34A;
  border-radius: 10px;
  margin: 5px auto;
  padding: 7px;
  color: #E1E1E1;
  font-weight: bold;
  &:hover {
    background-color: #81B34A;
  }
  display:flex;
  justify-content: space-around;
  width: 75%;
}
a {
  text-decoration: none;
}
