
@keyframes showBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes closeBar {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.progressBar {
  position: absolute;
  height: 30px;
}

.showBarOpening {
  width: 130px;
  background-color: #81B34A;
  animation: 500ms 1 showBar;
}

.showBarClosing {
  width: 0;
  background-color: #81B34A;
  animation: 700ms 1 closeBar;
}

.showBarActive {
  width: 100%;
  background-color: #81B34A;
}

@keyframes showCircle {
  from {
    left: 0;
    background-color: #A0A0A0;
  }
  to {
    left: 100px;
    background-color: #81B34A;
  }
}

@keyframes closeCircle {
  from {
    left: 100px;
    background-color: #81B34A ;
  }
  to {
    left: 0;
    background-color: #A0A0A0;
  }
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  border-radius: 50%;
  border: #E1E1E1 solid 1px;
}

.showCircleStatic {
  background-color: #A0A0A0;
}

.showCircleActive {
  background-color: #81B34A;
  left: 100px;
}

.showCircleOpening {
  left: 100px;
  animation: 500ms 1 showCircle;
  background-color: #81B34A;
}

.showCircleClosing {
  animation: 500ms 1 closeCircle;
  background-color: #A0A0A0;
}