.bar {
  width: 60%;
  background-color: #E1E1E1;
  height: 30px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;

}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #A0A0A0;
  top: -5px;
  border-radius: 50%;
  border: #E1E1E1 solid 1px;

  animation-name: show;
  animation-duration: 1s;

}

.barActive {
  width: 60%;
  background-color: black;
  height: 30px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.img {
  position: absolute;
  left: 10px;
  top: 8px;
}