.hide {
  display: none;
}
.show {
  position: relative;
}
.link {
  display: block;
  width: 60%;
  margin: 15px auto;
}

.bar {
  width: 100%;
  background-color: #E1E1E1;
  height: 30px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img {
  position: relative;
  left: 10px;
  top: 8px;
}