.wrapper {
  background-color: #E1E1E1;
  width: 28%;
  border-radius: 40px;
  height: 80%;
  box-shadow: 0 0 20px #A0A0A0  ;
}
.title {
  display: inline-block;
  margin: 0 auto;
  color: #81B34A;
  font-size: 30px;
  border-radius: 15px;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputWrapper {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.register {
  color: #81B34A;
  display: flex;
  justify-content: center;
}
.buttonWrapper {
  margin-left: 7%;
  display: flex;
}
.popUp {
  position: absolute;
  top: 112%;
  color: red;
  font-weight: bold;
}
.list {
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  li {
    list-style-type: none;
    &:before {
      content: '⚠ '
    }
  }
}